body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

header {
    background-color: aquamarine;
}
nav img {
   width: 10%;
}
nav {
   display: inline-block;
   width: 80%;
   background-color: #ddd;
}

main {
    background-color: antiquewhite;
    font-size: 15px;
}

footer {
    background-color: chartreuse;
}

/* li {
   display: block;
   width: 100%;
} */

h1 {
    text-align: center;
    font-family: cursive;
    color: red;
}

p {
    line-height: 120%;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.grid img {
   width: 100%;
}
.grid {
   display: grid;
   grid-template-columns: 40% 40%;
   justify-content: center;
   gap: 20px;
}

.skip-link:focus {
    top: 10px;
}
